a {
    color: white !important; 
}

a:hover {
    text-decoration: underline !important;
}

.carousel-item {
    text-align: center;
    color: whitesmoke;
    height: 40vh;
    width: 100%;
    background-image: url('images/darryl-brian-222961-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item>p {
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
}

.carousel-item>button {
    display: block;
    border: 1px solid white;
    color: whitesmoke;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 10%;
    width: 25%;
}

.carousel-item>button:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}

#intro-text {
 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px;
    align-items: center;
    background-image: url('images/johannes-plenio-317653-unsplash.jpg');
    background-size: 100% 400px;;
    background-repeat: no-repeat;
    text-align: center;
    color: whitesmoke;
    border-bottom: 2px solid gainsboro;
    
}

#detail-cards { 
    width: 100%;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    /* grid-template-rows: 1fr; */
    margin-top: 0;
    object-fit: cover;
    grid-column-gap: 5px;
    grid-row-gap: 2px;
    background-color: rgb(131, 129, 129);
    border-bottom: 2px solid gainsboro;
}

#detail-col-1, #detail-col-2, #detail-col-3 {
    background-image: url('images/jamie-street-420851-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: whitesmoke;
}

#feature {
    background: linear-gradient(to bottom left, rgb(110, 108, 108), rgb(61, 59, 59));
    /* background-color: rgb(34, 33, 33); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: whitesmoke;
    justify-items: center;
    border-bottom: 2px solid gainsboro;
}



#feature-text {
    align-self: center;
    margin-left: 5%;
}

#feature-img {
    align-self: center;
}

#feature-img>img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /* margin: 20px; */
    margin-top: 5%;
    margin-bottom: 5%;
}

#info-button {
    border: 1px solid white;
    color: whitesmoke;
    background-color: transparent;
}

#info-button:hover {
    cursor: pointer;
    background-color: lightcoral;
}
#feature-2 {
    background: linear-gradient(to bottom right, rgb(110, 108, 108), rgb(61, 59, 59));
    /* background-color: rgb(34, 33, 33); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: whitesmoke;
    justify-items: center;
    border-bottom: 2px solid gainsboro;
}

#feature-text-2 {
    align-self: center;
    margin-right: 5%;
}

#feature-img-2 {
    align-self: center;
}

#feature-img-2>img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /* margin: 20px; */
    margin-top: 5%;
    margin-bottom: 5%;
}

@media (max-width: 400px) {
    #feature-img-2>img, #feature-img>img {
        display: none;
    }
    #feature {
        grid-template-columns: 1fr;
        text-align: center;
    } 
    #feature-2 {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #feature-text {
        margin: 0 auto;
    }

    #feature-text-2 {
        margin: 0 auto;
    }
    #info-button {
        margin: 0 auto;
        margin-bottom: 5px;
    }
    #info-button-2 {
        margin: 0 auto;
        margin-bottom: 5px;
    }
}

#info-button-2 {
    border: 1px solid white;
    color: whitesmoke;
    background-color: transparent;
}

#info-button-2:hover {
    cursor: pointer;
    background-color: lightcoral;
}

#footer-container {
    background-color: rgb(34, 33, 33);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 1px;
    color: whitesmoke;
    font-size: 0.7em;
}

#footer-address {
    justify-self: end !important;
    margin-top: 10px;
    margin-right: 3%;

}

#footer-logo {
    justify-self: center;
}

#footer-contact {
    justify-self: start;
    margin-left: 3%;
}





